.article-main {
  padding: 3rem 2.5rem;
  display: block;
  background-color: #f3f0f1; }
  .article-main__article-image-box__box__image {
    width: 100%;
    aspect-ratio: 1.32/1;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    -webkit-box-shadow: 0 0 20px rgba(26, 22, 28, 0.2);
            box-shadow: 0 0 20px rgba(26, 22, 28, 0.2); }
  .article-main__article-name {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: capitalize; }
  .article-main__article-related-functionality-container--non-desktop-version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 3rem;
    margin-top: 3.5rem; }
    .article-main__article-related-functionality-container--non-desktop-version > div:nth-child(1) {
      background-color: #1a161c; }

@media (min-width: 64em) {
  .article-main {
    padding: 3rem 0 0;
    -webkit-box-shadow: 0 10px 15px rgba(26, 22, 28, 0.15);
            box-shadow: 0 10px 15px rgba(26, 22, 28, 0.15); }
    .article-main__article-name {
      margin-bottom: 2.5rem; }
    .article-main__article-image-box__box {
      overflow: hidden;
      -webkit-box-shadow: 0 -5px 10px rgba(26, 22, 28, 0.15);
              box-shadow: 0 -5px 10px rgba(26, 22, 28, 0.15); }
    .article-main:hover .article-main__article-related-functionality-container--desktop-version, .article-main:hover .article-main__article-related-functionality-container--desktop-version > div {
      opacity: 1;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      visibility: visible;
      pointer-events: auto; }
    .article-main__article-related-functionality-container--desktop-version, .article-main__article-related-functionality-container--desktop-version > div {
      opacity: 0;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      visibility: collapse;
      pointer-events: none; }
    .article-main__article-related-functionality-container--desktop-version {
      margin-top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(26, 22, 28, 0.85);
      -webkit-backdrop-filter: blur(4px);
              backdrop-filter: blur(4px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 3rem;
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%);
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .article-main__article-related-functionality-container--desktop-version > div {
      -webkit-transition: opacity 0.2s ease-out 0.2s, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out 0.2s;
      transition: opacity 0.2s ease-out 0.2s, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out 0.2s;
      transition: opacity 0.2s ease-out 0.2s, transform 0.2s ease-out 0.2s, background-color 0.2s ease-out;
      transition: opacity 0.2s ease-out 0.2s, transform 0.2s ease-out 0.2s, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out 0.2s;
      -webkit-transform: translate(0, 150%);
              transform: translate(0, 150%); }
      .article-main__article-related-functionality-container--desktop-version > div:nth-child(1) {
        background-color: transparent !important;
        border: 1px solid #fff; }
        .article-main__article-related-functionality-container--desktop-version > div:nth-child(1):hover, .article-main__article-related-functionality-container--desktop-version > div:nth-child(1):active {
          background-color: rgba(220, 212, 215, 0.25) !important; }
      .article-main__article-related-functionality-container--desktop-version > div:nth-child(2) {
        border: 1px solid #208318; } }

/*# sourceMappingURL=Article.module.css.map */