@import '../../scss/variables';
@import '../../scss/mixin';
@import '../../scss/animation';

.loading-spinner-main {
  @include sameSize();

  &__text-and-spinner-container {
    @include flex-row();
    align-items: center;
    gap: 1rem;

    p {
      font-size: 2rem;
    }
  }

  &__non-default-spinner,
  &__default-spinner {
    display: block;
    width: 3rem !important;
    height: 3rem !important;
  }

  &__default-spinner {
    @include border-all-sides($darkText, 3px);
    border-radius: 50%;
    border-right-color: $primary;
  }
}

.spinning {
  animation: rotate360 2s linear infinite;
}
