@import '../../scss/variables';
@import '../../scss/mixin';

.submit-button {
  button {
    @include button-reset();
    color: $white;
    font-size: 1.6rem;
    padding: $buttonPadding;
    transition: $basic;
    @include bg-color($primary);
    @include flex-all-center();
    gap: 0.5rem;

    div[class*='image-main'] {
      width: max-content;
      padding: 0;
    }

    img {
      filter: $filterWhite;
      height: 1.7rem;
    }
  }

  button:disabled {
    opacity: 0.5;
    background-color: inherit;
  }

  &__button:active {
    background-color: darken($primary, 10%);
  }
}
