@import '../../scss/variables';
@import '../../scss/mixin';

.collection-of-articles-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 30rem));
  column-gap: 2.5rem;
  row-gap: 5rem;
  justify-content: center;
}
